<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="library" href="/tabs/library">
      <ion-icon name="library-outline"></ion-icon>
      <ion-label>Bibliothèque</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stats" href="/tabs/stats">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Statistiques</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Réglages</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>